*{
    margin: 0%;
    font-family: 'open sans' , sans-serif;
}
/* header and navigation sttyles */
nav{
    display: flex;
    justify-content:space-between ;
   padding: 50px 200px;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 70px;
}
/* banner styles */
.banner{
    margin: 0 200px;
    align-items:bottom right ;
    display: flex;
}
.banner-title{
font-size: 85px;
font-weight: 700;
}
.banner-subtitle{
font-size: 45px;
font-weight: 600;
}
.banner-description{
    color: #757575;
font-size: 18px;
margin-bottom: 30px;
}
.text-primary{
    color: rgb(233, 18, 18);
}
.btn-primary{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
   height: 64px; 
   border-radius: 5px;
   background-color: orangered;
   background: #FD6E0A;
}
.primary{
    color: whitesmoke;
    background-color: orangered;
    border: 0;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
}
.header{
    background: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
    
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}
/* about section styles */
.about{
margin-top: 130px;
background: #fff8f3;
border-radius: 10px;
padding: 130px 150px;
text-align: center;
}
.section-title{

margin-bottom: 50px;
font-weight: 700;
font-size: 35px;
text-align: center;
}
.section-description{
color: #757575;
font-size: 18px;
margin-bottom: 30px;
}
.about-info-container{
   display: flex;
   justify-content:space-evenly ; 
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
 font-weight: 700; 
 font-size: 20px;
 color: #474747;  
}
/* what i do styles */
.what-i-do{
   margin-top: 130px;
}

.skills-container{
  display: flex; 
  gap: 30px
  ; 
}
.skill{
    background: white;
    box-shadow: 0px 6px 50px cornsilk;
     border-radius: 5px;
    padding:30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.skill-description{
    color: #757575;
}
/* resume styles */

.resume-content{
    display: flex;
    gap: 24px
    ;
}
.resume-item{
    margin-bottom: 30px;
    margin-top: 30px;
}
.resume.title{ 
   
   font-weight: 700; 
   font-size: 25px;
   color: #757575;
   margin-bottom: 10px;
}
.resume .sub-title{
  color: #fff8f3;
  font-weight: 600;  
  font-size: 20px;
  margin-bottom: 20px;
}
.resume .description{
color: #FFFFFF;
}
.resume-button{
    margin-top: 40px;
    text-align: center;  
}
/* contact style */
.contact{
    display: flex;
    gap: 100px
    ;
    background-color:lemonchiffon ;
    padding: 130px 200px;
}
.contact.section-title{
    text-align: left;
}
.contact input [type="text"],input[type="email"],textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding-left:18px 30px;

}
.contact a{
    text-decoration: none;
}